.w_return{
  width: 40px;
  height: 40px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  position:fixed;
  bottom: 100px;
  right: -40px;
  transition: all 0.5s;
  cursor: pointer;
}
.w_return>img{
  width: 25px;
  height: 25px;
  margin-top: 7.5px;
}